1. If Else

In [ ]:
users = [
    ["abhi", "abhi1234"],
    ["theertharaj", "t245A1"],
    ["john", "john123"]
]
username = input("Enter username: ")
password = input("Enter password: ")
if [username, password] in users:
    print("Login Successful")
else:
    print("Access Denied")

Enter username: asf
Enter password: tharha
Access Denied

2. Tuple

In [ ]:
my_tuple = (1, 3, 5, 3, 7, 3, 9)
value = int(input("Enter value to count: "))
count = my_tuple.count(value)
print("Count:", count)

Enter value to count: 7
Count: 1

3. LISTS

In [ ]:
numbers = []
for i in range(5):
    num = int(input("Enter number: "))
    numbers.append(num)
print("List:", numbers)

Enter number: 234567
Enter number: 12
Enter number: 43
Enter number: 415
Enter number: 12
List: [234567, 12, 43, 415, 12]

4. VARIABLE

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
a=a+b
b= a-b
a= a-b
print("After swapping:")
print("a =", a)
print("b =", b)

Enter first number: 8976
Enter second number: 12314
After swapping:
a = 12314
b = 8976

5. Sorting

In [ ]:
words = ["apple", "developer", "banana", "dog"]
words.sort(key=len)
print("Sorted by length:", words)

Sorted by length: ['dog', 'apple', 'banana', 'developer']

In [ ]:
data = [(10, 3), (11, 23), (8, 4)]
sorted_data = sorted(data, key=lambda x: x[1])
print("Sorted tuples:", sorted_data)

Sorted tuples: [(10, 3), (8, 4), (11, 23)]

In [ ]:
nums = [5, 2, 9, 1, 7]
nums.sort()
print("Sorted List:", nums)

Sorted List: [1, 2, 5, 7, 9]

6. Palindrome

In [ ]:
num = int(input("Enter number: "))
if str(num) == str(num)[::-1]:
    print("Palindrome")
else:
    print("Not Palindrome")

Enter number: 12421
Palindrome

In [ ]:
text = input("Enter string: ").lower()
if text == text[::-1]:
    print("Palindrome")
else:
    print("Not Palindrome")

Enter string: abhi
Not Palindrome

In [ ]:
words = ["madam", "apple", "level", "wow", "chair"]
palindromes = [w for w in words if w == w[::-1]]
print("Palindromes:", palindromes)

Palindromes: ['madam', 'level', 'wow']