task1:

if else

tuple

lists

variable

sorting function

palindrome

## **if-else**

In [4]:
number=int(input('enter a number : '))
#number = 10
if number >= 0:
    print(f"{number} is a positive number.")
else:
    print(f"{number} is a negative number.")

enter a number : 67
67 is a positive number.

In [19]:

value = int(input("Enter a value: "))
if value < 50:
    print(f"{value} is small.")
elif 50 <= value < 100:
    print(f"{value} is medium.")
else:
    print(f"{value} is large.")

Enter a value: 2324
2324 is large.

In [20]:
is_logged_in = True
has_admin_privileges = False

if is_logged_in:
    print("User is logged in.")
    if has_admin_privileges:
        print("User has administrator privileges.")
    else:
        print("User does not have administrator privileges.")
else:
    print("User is not logged in.")

User is logged in.
User does not have administrator privileges.

# **tuple**

In [27]:
number = ("1", "2", "3")
print(number)
print(number[1])
print(number[0:2])
print(number.index('2'))

('1', '2', '3')
2
('1', '2')
1

In [28]:
data = (8, 7, 6, 5, 4, 3, 2)
first, *middle, last = data
print(f'First: {first}, Middle: {middle}, Last: {last}')

First: 8, Middle: [7, 6, 5, 4, 3], Last: 2

In [29]:
# Packing
person_info = ("Alice", 30, "New York")
print(f"Packed tuple: {person_info}")
# Unpacking
name, age, city = person_info
print(f"Unpacked name: {name}")
print(f"Unpacked age: {age}")
print(f"Unpacked city: {city}")

Packed tuple: ('Alice', 30, 'New York')
Unpacked name: Alice
Unpacked age: 30
Unpacked city: New York

#  **lists**

In [40]:
my_list = [1, 2, 3, 4]
print(" Created list: ",my_list)

 Created list:  [1, 2, 3, 4]

In [41]:
my_list.append(6)
print(" Appended 6: {my_list}")
my_list.insert(0, 0)
print(" Inserted 0 at index 0: {my_list}")
print(my_list)

 Appended 6: {my_list}
 Inserted 0 at index 0: {my_list}
[0, 1, 2, 3, 4, 6]

In [44]:
sub_list = my_list[1:3]
print(" Sliced list [1:3]: ",sub_list)

 Sliced list [1:3]:  [1, 2]

#  **sorting** **function**

In [48]:
numbers = [3, 1, 4, 1, 5, 9]
sorted_numbers = sorted(numbers)
print(" Original: ",numbers," Sorted with sorted(): ",sorted_numbers)

 Original:  [3, 1, 4, 1, 5, 9]  Sorted with sorted():  [1, 1, 3, 4, 5, 9]

In [51]:
words = ['banana', 'apple', 'cherry']
words.sort()
print(" Sorted words: ",words)

 Sorted words:  ['apple', 'banana', 'cherry']

In [53]:
numbers_desc = [3, 1, 4, 1, 5, 9]
sorted_desc = sorted(numbers_desc, reverse=True)
print("descending order : ",sorted_desc)

descending order :  [9, 5, 4, 3, 1, 1]

In [54]:
pairs = [(1, 'b'), (3, 'a'), (2, 'c')]
sorted_pairs = sorted(pairs)
print("Sorted tuples: ",sorted_pairs)

Sorted tuples:  [(1, 'b'), (2, 'c'), (3, 'a')]

In [56]:
fruits = ['apple', 'banana', 'kiwi', 'grapefruit']
sorted_fruits_by_len = sorted(fruits, key=len)
print("Sorted fruits: ",sorted_fruits_by_len)

Sorted fruits:  ['kiwi', 'apple', 'banana', 'grapefruit']

# **palindrome**

In [60]:
word1 = "madam"
is_palindrome1 = word1 == word1[::-1]
print(" Is ",word1,"a palindrome? ",is_palindrome1)

 Is  madam a palindrome?  True

In [64]:
a = "Racecar"
cleaned_phrase1 = a.lower()
is_palindrome3 = cleaned_phrase1 == cleaned_phrase1[::-1]
print("Is ",a ," a palindrome?", is_palindrome3)

Is  Racecar  a palindrome? True